name: guran_app
description: "A new Flutter project."
publish_to: 'none' # Projet privé, pas publié sur pub.dev

version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  llm_dart: ^0.8.0
  sqflite: ^2.2.8+3
  path_provider: ^2.0.15
  cupertino_icons: ^1.0.8



dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true

  assets:
    - assets/models/phi-3-mini.gguf
    - assets/suwar_json 1-114/